<h2>The happiest people</h2>
<ul>
    {{#each signers}}
        <li>{{emj}}
            {{#if url}}<a href={{url}}>{{first}} {{last}}</a>
            {{else}}
                {{first}}
                {{last}}
            {{/if}}
            {{age}}
            <a href="/signers/{{city}}">
                {{city}}</a>
        </li>
    {{/each}}

</ul>
{{#if byCity}}
    <a href="/signers">See all {{signersCount}} happy people</a>
{{/if}}